/*pagine LeMie*/
.cssBody{
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;

    background: url("../img/footer1.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: auto;
    display: block;
    max-width: 100%;
    height: auto;

}

@font-face {
    font-family: 'oswald_stencilbold';
    src: url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff2') format('woff2'),
    url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.lateralPadding{
    margin-left: 15px;
    margin-right: 15px;
}

.cartaScura {
    border-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    padding: 1.5em;
    color: #ffffff;
}

.cartaScura:hover {
    background-color: #ffffff;
    color: #3c3c37;
    text-decoration: none;
}

.elemento{
    margin-top: 3%;
    max-height: 10%;
}

.immagineElemento{
    width: 100%;
}


.tag{
    margin-top: 20%;
    color:white;
    text-transform: uppercase;
    font-family: "Oswald",sans-serif;
}

.valore{
    color:white;/*#3c3c37;*/
    text-transform: uppercase;
    font-family: "oswald_stencilbold",sans-serif;
    font-size: x-large;
}


.elemento:hover .valore{
    color: white;
}

.elemento:hover .tag, .elemento:hover .valore{
    color: #3c3c37;
}

@media (min-width: 768px) and (max-width: 992px){
    .immagineElemento{
        width: 50%;
        margin-left: 25%;
    }
}

.spazio{
    margin-top: 3%;
}

.titolo{
    text-align: center;
    font-size: 2.5em;
    font-family: oswald_stencilbold;
}

@media (max-width: 768px) {
    .titolo{
        margin-top: 3%;
    }
    .tag{
        margin-top: 5%;
    }
}


.centra{
    text-align: center;
}


.descrive{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#imgAnnuncio {
    width: 100%;
}