/* css barra superiore*/
@font-face {
	font-family: 'oswald_stencilbold';
	src: url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff2') format('woff2'),
	url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


.bottone:hover {
	background-color: #94A31A;
	border-color: #94A31A;
	border-radius: 0px;
}

.bottone {
	background-color: #A6B71B;
	border-color: #A6B71B;
	border-radius: 0px;
}

#exampleInputEmail2, #exampleInputPassword2{
	border-radius: 0px;
	border-width: 2px;
    border-style: solid;
}

.linkSfondoBianco{
	color:#3c3c37;
	font-weight: bold;
}

#login-dp .social-buttons{
	margin: 12px 0;
    clear: both;
}

.loginTradizionale{
	border-bottom: 1px solid #ddd;
}

.top_panel{
	background-color: #34362d;
	color: #ffffff;
	font-size: 1em;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	border: 0;
	outline: 0;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	height:30px;
}

.linkBarraAlta{
	color: #ffffff !important;
	padding: 0.8em 0 0.8em;
	font-family: "Oswald",sans-serif;
	line-height: 1.3em;
	text-transform: uppercase;
	font-size: 100%;
	text-decoration: none !important;
	background-color: initial;
	background-color: initial !important
}

.separatore{
	background-color: #767a70;
	padding: 0px 2px 0px 1px;
	margin-right: 6px;
	margin-left: 2px;
	height: 15px;
}
.registrazione{
	margin-right: 15px;
	height: 100%;
	padding-top: 5px;
}

.linkBarraAlta:hover, .linkBarraAlta:focus{
	color: #a6b71b !important;
	text-decoration: none;
}

#login-dp{
	background-color: white;
	border-radius: 0px;
	padding: 0px 40px;
	margin-right: inherit;
	color: initial;
	padding-top: 20px;
	padding-bottom: 8px;
}


.btn-fb{
	color: #fff;
	background-color:#3b5998;
}
.btn-fb:hover{
	color: #fff;
	background-color:#496ebc
}
.btn-tw{
	color: #fff;
	background-color:#55acee;
}
.btn-tw:hover{
	color: #fff;
	background-color:#59b5fa;
}

#login-dp .social-buttons a{
	width: 48%;
}

#login-dp .bottom{
	background-color:rgba(255,255,255,.8);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
}

#login-dp .social-buttons{
	margin:12px 0
}

/* css barra intermedia*/
.top_panel_middle{
	background-color: #515547;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	border: 0;
	outline: 0;
	word-wrap: break-word;
	color: #767a70;
	text-rendering: optimizeLegibility;
	position:static;
	top:0;
    right: 0;
    left: 0;
    z-index: 1030;
    border: none;
  	box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
}

.barra_media{
	height: 100%;
	padding-top: 25px;
	padding-bottom: 20px;
}

.navbar-header>a{
	color: #ffffff;
}

li>a{
	color: #ffffff;
	padding: 0.45em 1.1em 0.35em;
	font-family: "Oswald",sans-serif;
	line-height: 1.3em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dropdown-menu{
	border: none;
	margin-top: 2px !important;
}

.dropdown-menu .divider{
	height: 0px;
}

.menuButton{
	font-size: 2em;
	font-family: "oswald_stencilbold",sans-serif;
}

@media (min-width: 768px) {
	.nav .open>a:hover,.dropdown-menu, .nav .open>a,.nav>li>a:hover, .dropdown-menu>li>a .open>a:hover, .open>a, .nav .open>a:hover, .nav .open>a:focus, .dropdown-menu>li>a, .nav>li>a:hover, .nav>li>a:focus,.nav>li>a:hover {
		background-color: #a6b71b;
		color: #ffffff;
	}
	.dropdown-menu>li>a:hover{
		background-color: #94a31a;
		color: #ffffff;
	}
	/****** tentativo di dropdown all'hover
	.dropdown-menu li:hover  {
		visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.dropdown-menu a:hover{
		background-color: white;
	}**/
}

@media (max-width: 768px) {
	.nav .open>a:hover,.dropdown-menu, .nav .open>a,.nav>li>a:hover, .dropdown-menu>li>a .open>a:hover, .open>a, .nav .open>a:hover, .nav>li>a:hover, .nav>li>a:focus, .dropdown-menu>li>a:hover {
		background-color: #a6b71b;/*#515547;*/
		color: #ffffff;
	}

	.dropdown-menu>li>a{
		color: #ffffff;
	}

	.dropdown-menu>li>a:hover, .nav>li>a:hover, .nav .open>a:focus{
		background-color: #94a31a;/*#34362d;*/
		color: #ffffff;
	}

}

.icon-bar{
	border-radius: 10px !important;
	background-color: white;
	border: white solid 2.5px;
}

.navbar-toggle{
	padding: 6px 10px 0px 0px ;
}

.navbar{
	margin-bottom: 0px;
}

/*fine css barra intermedia*/
