@font-face {
	font-family: 'oswald_stencilbold';
	src: url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff2') format('woff2'),
	url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: oswaldStencil;
    src: url(../fonts/Oswald-Stencil.ttf);
}

@font-face {
    font-family: oswaldRegular;
    src: url(../fonts/Oswald-Regular.ttf);
}


.bachecaAnnunci {
	font-family: 'oswald_stencilbold';
	background: url("../img/footer1.jpg") repeat center;
}

.img-carta {
	display: block;
    max-width: 100%;
    max-height: 180px;
    text-align:central;
    border-style: solid;
    border-color: #A6B71B;
    border-width:1px;
}
#imgAnnuncio{
	width:100%;
}
h1{
	color:#FFFFFF;
}

.spazioSopra{
	margin-top: 15px;
}

.centra{
	text-align: center;
}

.fontMaiuscola{
	font-family: oswaldRegular;
	text-transform: uppercase;
}

.bottone:focus {
	background-color:#515547;
	border-color:#A6B71B;;
}
.bottone:active {
	background-color:#515547;
	border-color:#A6B71B;;
}

body {
	font-family: oswaldRegular;
	text-transform: uppercase;
	letter-spacing: 1px;
    color: #767a70;
}

.nelmodal {
	font-family: 'oswaldRegular';
	border-color: #FFFFFF;
	color: rgb(118, 122, 112);
	text-transform: none;
}

.list-group {
	font-family: 'oswaldRegular';
	border-color: #FFFFFF;
	color: #FFFFFF;
}

a.list-group-item:focus, a.list-group-item:hover, .list-group-item:focus, .list-group-item:hover {
	background-color: white;
	color: black;
}

.pagination>.active>a {
	background-color:#A6B71B;
	border-color:#515547;
	color:#515547;
}

.pagination>.active>a:hover {
	background-color:#515547;
	border-color:white;
	color:#A6B71B;
}

.pagination>li>a {
	background-color:white;
	border-color:#515547;
	color:#515547;
}

.pagination>li>a:hover {
	background-color:#515547;
	color:#A6B71B;
	}


@media (max-width:768px){
img {
	display: block;
    margin-left:30%;
    width: 40%;
    margin-bottom:15px;

}

.cartaScura {
	margin-top:15px;
}
}
