@CHARSET "UTF-8";

@font-face {
    font-family: oswaldRegular;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: oswaldStencil;
    src: url(../fonts/Oswald-Stencil.ttf);
}

body {
	font-family: oswaldRegular;
	text-transform: uppercase;
	letter-spacing: 1px;
    color: #767a70;
}

.btn-master {
	background: #a6b71b;
	line-height: 1.3em;
	border-width: 0px;
	margin: 0px;
	padding: 16px 57px;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: inherit;
	font-size: 17px;
	font-family: "Roboto Condensed", sans-serif;
	color: #FFFFFF;
	text-shadow: none;	
	text-transform: uppercase;
	border-radius: 0px;
	border-color: black;
}

.btn-master:hover {
	background: #94A31A;
	color: #FFFFFF;
}

.span-master {
	font-weight: 400;
	font-size: 1.5em;
	text-align: left;
	line-height: 1.3em;
	letter-spacing: 2px;
}

.span-master-2 {
	color: #a6b71b;
	font-weight: 200;
	font-size: 1.3em;
	text-align: right;
	line-height: 1.3em;
	letter-spacing: 2px;
}

.team_select {
	background-image: url(../img/military_background.jpg);
}

.team_select_card {
	border: 3px solid;
	border-color: white;
	background-color: rgba(255, 255, 255, 0);
	transition: 0.3s;
	margin: 30px auto;
	min-height: 400px;
}

.team_select_card:hover {
	background-color: rgba(255, 255, 255, 1);
}

.title-event {
	color: black;
	font-size: 3.8em;
	margin: 30px auto;
	font-family: oswaldStencil;
}

.squadra {
	color:#a6b71b;
}

.event-description {
    margin-bottom: 15px;
}

.card-weather {
	position: relative;
	z-index: 2;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.info .city,
.night {
	font-size: 24px;
	font-weight: 200;
	position: relative;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.info .city:after {
	content: '';
	width: 15px;
	height: 2px;
	background: #fff;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.night {
	font-size: 15px;
	text-transform: uppercase;
}

.icon {
	font-size: 3em;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	overflow: visible;
}

.temp {
	font-size: 2.5em;
	display: block;
	position: relative;
	font-weight: bold;
}

.wind span {
	font-size: 13px;
	text-transform: uppercase;
}

.divisor {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #eaeaea;
}

.days {
	margin-top: 40px;
}

.team-member {
	font-size: 1.5em;
}