@font-face {
	font-family: 'oswald_stencilbold';
	src: url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff2')
		format('woff2'),
		url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

a:active{
	color: #a6b71b;
}

a:hover {
	text-decoration: none;
}

.largo{
	width: 100%;
}

/* Jumbotron */
.jumboPadding {
	padding-right: 0px;
	padding-left: 0px;
	border-radius: 0px;
}

.jumbotron {
	background: url("../img/jumbo3.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: inherit;
	color: #fff;
	padding-bottom: 20%;
	padding-top: 20%;
	margin-top: auto;
	display: block;
	max-width: 100%;
	max-height: 500px;
	height: auto;
	margin-bottom: 0px;
}

.container-fluid .jumbotron {
	border-radius: 0px;
}


/*Parti in comune a piu sezioni*/
.nome{
	font-size: 24px;
	font-family: oswald_stencilbold;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 1.1;
}

.descrizione{
	font-family: oswald_stencil;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;

	/*taglia dopo la terza riga*/
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.contenuto{
	height: 100px;
}

.titoloSezione{
	font-family: 'oswald_stencilbold';
	font-size: 36px;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 10px;
	color: white;
	padding-top: 3%;
}

.sottotitoloSezione{
	color: white;
	font-family: "Oswald",sans-serif;
	text-align: center;
	margin-bottom: 2%;
	font-size: 1.7em;
}

/* Sezioni eventi*/

.slick-prev {
	left: -5px;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 12px solid #a6b71b;
}

.slick-next {
	right: -5px;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #a6b71b;
}

.slick-prev:before, .slick-next:before{
	content: ' ';
}

.slick-prev, .slick-next{
	z-index: 200;
}

.SezEventi {
	padding-bottom: 3%;
	background: url("../img/sfondo.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: auto;
	display: block;
	max-width: 100%;
	height: auto;
}

.carta {
	border-color: #a6b71b;
	border-width: 3px;
	border-style: solid;
	padding: 1.5em;
	color: white;
}

.carta:hover {
	background-color: #a6b71b;
	color: #ffffff;
}

.bordino{
	border-style: solid;
	border-color: #A6B71B;
	border-width: 1px;
}

/* Sezione annunci*/
.SezAnnunci {
	background-color: #515547;
	margin-top: 3%;
	height: auto;
	padding-bottom: 3%;
	background: url("../img/footer1.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: auto;
	display: block;
	max-width: 100%;
	height: auto;
}


.cartaScura {
	border-color: #ffffff;
	border-width: 3px;
	border-style: solid;
	padding: 1.5em;
	color: #ffffff;
}

.cartaScura:hover {
	background-color: #ffffff;
	color: #3c3c37;
	text-decoration: none;
}

/*footer*/
.footer {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: large;
}

/*features*/

.sezioneFeatures{
	padding-bottom: 5%;
}

.titoloFeatures{
	font-family: "Oswald",sans-serif;
	font-size: 36px;
	line-height: 1em;
	font-weight: 400;
	text-align: center;
	margin-top: 3%;
	padding-bottom: 3%;
	font-family: 'oswald_stencilbold';
	letter-spacing: 1px;
}

.iphone, .mac{
	margin: auto;
	max-height: 17em;
}

.contenutoFeatures{
	color:#a6b71b;
	text-transform: uppercase;
	font-family: "Oswald",sans-serif;
	text-align: center;
	margin-top: 1%;
	font-size: 1.5em;
}

.altroContenuto{
	color: #767a70;
	font-family: "Oswald",sans-serif;
	text-align: center;
	margin-top: 1%;
	font-size: 1.4em;
}

.link{
	color: #a6b71b;
}

.link:hover{
	color: #94a31a;
}


/*******************
mettere il div invece che l'immagine e nella classe di quel div mettere cose tipo questo
oppure modificare l'immagine al momento del caricamento ridimensionandola e tagliandola e poi mettendola  nel DB

    width: 359px;
    height: 276px;
    background-size: cover;
    background-image: url(../resources/img/jumbo4.jpg);

 */
