@font-face {
	font-family: 'oswald_stencilbold';
	src: url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff2')
		format('woff2'),
		url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: oswaldStencil;
	src: url(../fonts/Oswald-Stencil.ttf);
}

@font-face {
	font-family: oswaldRegular;
	src: url(../fonts/Oswald-Regular.ttf);
}

#pac-input {
	position:relative !important;
	top:10px !important;
	width:200px;
	height:30px;
}

.personalLabel1{
	font-family: 'oswald_stencilbold';
	color:#515547;
	font-weight:500;
	font-size:20px;
	padding-left:2px;
}

.esteso {
	min-height: 300px;
}

.help-block {
	font-family: 'oswaldRegular';
}

#Posizione {
	margin-top: 9px;
}

#sfondochiaro {
	font-family: 'oswaldRegular';
}

.immagineSfondo{
	background : url("../img/sfondo.jpg") no-repeat;
	background-size: cover;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 3%;
}

#bianco {
	background: white;
	border-style: solid;
	border-width: 1px 10px 10px 10px;
	border-color: white;
	margin-top: 20px;
}

#mapcont {
	height: 350px;
}

#imgannuncio {
	width: 100%;
}

#partitaform {
	margin-top: 20px;
}

#annuncioform {
	margin-top: 20px;
}

.bg-scr {
	margin-top: -1px;
	margin-right: 5px;
}

@media (min-width: 980px) {
	.bg-scr{
		padding-top: 41px;
	}
}
@media (max-width: 980px){
	.bg-scr{
		padding-top: 10px;
	}
}


.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	text-align: center;
}

.kv-avatar .file-input {
	display: table-cell;
	max-width: 220px;
}

#kv-avatar-errors-2 {
	margin-top: 9px;
	background: white;
}

.limit {
	max-width: 230px;
	margin-top: 17px;
}

@media ( max-width :319px) {
	#imginput {
		width: 200px;
	}
	.file-preview {
		width: 213px;
	}
	.file-preview-image {
		width: 213px;
	}
}

@media ( min-width :320px) {
	#imginput {
		width: 278px;
	}
	.file-preview {
		width: 291px;
	}
	.kv-preview-data {
		width: 290px;
	}
}

@media ( min-width :981px) {
	.bg-scr {
		position: absolute;
		top: 185px;
		left: 27%;
		right: 0;
		margin: 0 auto auto 165px;
	}
	.limit {
		max-width: 300px;
		margin-top: -1px;
	}
	#mapcont {
		height: 400px;
	}
}


.carta{
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding-bottom: 1%;
	text-transform: lowercase;
}

.accedi{
	margin-right: 1%;
}