@font-face {
	font-family: 'oswald_stencilbold';
	src: url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff2')
		format('woff2'),
		url('../fonts/oswald-stencil-bold-586ea9ec262c2-webfont.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: oswaldStencil;
	src: url(../fonts/Oswald-Stencil.ttf);
}

@font-face {
	font-family: oswaldRegular;
	src: url(../fonts/Oswald-Regular.ttf);
}

.help-block {
	font-family: 'oswaldRegular';
}

#sfondochiaro {
	font-family: 'oswaldRegular'; 
	background : url("../img/sfondo.jpg") no-repeat;
	background-size: cover;
}

#bianco {
	background: white;
	border-style: solid;
	border-width: 1px 10px 10px 10px;
	border-color: white;
	margin-top: 20px;
}

#mapcont {
	height: 350px;
}

#imgannuncio {
	width: 100%;
}

#partitaform {
	margin-top: 20px;
}

#annuncioform {
	margin-top: 20px;
}

.bg-scr {
	margin-top: -1px;
	margin-right: 5px;
}

.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	text-align: center;
}

.kv-avatar .file-input {
	display: table-cell;
	max-width: 220px;
}

.limit {
	max-width: 230px;
	margin-top: 17px;
}

@media ( max-width :319px) {
	#imginput {
		width: 200px;
	}
	.file-preview {
		width: 213px;
	}
	.file-preview-image {
		width: 213px;
	}
}

@media ( min-width :320px) {
	#imginput {
		width: 278px;
	}
	.file-preview {
		width: 291px;
	}
	.kv-preview-data {
		width: 290px;
	}
}

@media ( min-width :981px) {
	.bg-scr {
		position: absolute;
		top: 170px;
		left: 27%;
		right: 0;
		margin: 0 auto auto 165px;
	}
	.limit {
		max-width: 230px;
		margin-top: -1px;
	}
	#mapcont {
		height: 400px;
	}
}