@CHARSET "ISO-8859-1";

#mapcont {
	height: 350px;
}

#imgannuncio {
	width: 100%;
	
}

#annuncioform {
	margin-top: 20px;
}

.bg-scr {
	margin-top: -17px;
}

  
.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	text-align: center;
}

.kv-avatar .file-input {
	display: table-cell;
	max-width: 220px;
}

.limit {
	max-width: 230px;
	margin-top: 17px;
}

#login-dp {
	margin-top: 9px;
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
	font-size: 12px
}

#login-dp .bottom {
	background-color: rgba(255, 255, 255, .8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .social-buttons {
	margin: 12px 0
}

#login-dp .social-buttons a {
	width: 49%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc
}

.btn-tw {
	color: #fff;
	background-color: #55acee;
}

.btn-tw:hover {
	color: #fff;
	background-color: #59b5fa;
}

@media ( max-width :768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}

@media ( max-width :319px) {
	#imginput {
		width: 200px;
	}
	.file-preview {
		width: 213px;
	}
	.file-preview-image {
		width: 213px;
	}
}

@media ( min-width :320px) {
	#imginput {
		width: 278px;
	}
	.file-preview {
		width: 291px;
	}
	.kv-preview-data {
		width: 290px;
	}
}

@media ( min-width :981px) {
	.bg-scr {
		position: absolute;
		top: 70px;
		left: 27%;
		right: 0;
		margin: 0 auto;
	}
	.limit {
		max-width: 230px;
		margin-top: -17px;
	}
	#mapcont {
		height: 400px;
	}
}
}