<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>gosoftair</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>it.univaq.disim.gosoftair.common.startup.GosoftairServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>eventview</servlet-name>
    <servlet-class>it.univaq.disim.gosoftair.presentation.EventoViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventview</servlet-name>
    <url-pattern>/views/evento/dettagli</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaUtenteServlet</servlet-name>
    <servlet-class>it.univaq.disim.gosoftair.presentation.CreaUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaUtenteServlet</servlet-name>
    <url-pattern>/views/profilo/nuovo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaAnnuncioServlet</servlet-name>
    <servlet-class>it.univaq.disim.gosoftair.presentation.CreaAnnuncioServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UtenteViewServlet</servlet-name>
    <servlet-class>it.univaq.disim.gosoftair.presentation.UtenteViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaAnnuncioServlet</servlet-name>
    <url-pattern>/views/annuncio/nuovo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScegliSquadraServlet</servlet-name>
    <servlet-class>it.univaq.disim.gosoftair.presentation.ScegliSquadraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScegliSquadraServlet</servlet-name>
    <url-pattern>/post/scegli-squadra</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CreaPostServlet</servlet-name>
    <servlet-class>it.univaq.disim.gosoftair.presentation.CreaPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaPostServlet</servlet-name>
    <url-pattern>/post/crea-post</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HomeViewServlet</servlet-name>
    <servlet-class>it.univaq.disim.gosoftair.presentation.HomeViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeViewServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

</web-app>